<?xml version="1.0"?>
<config>
    <modules>
        <Custom_Careersbanner>
            <version>0.1.0</version>
        </Custom_Careersbanner>
    </modules>
    <frontend>
        <routers>
            <careersbanner>
                <use>standard</use>
                <args>
                    <module>Custom_Careersbanner</module>
                    <frontName>careersbanner</frontName>
                </args>
            </careersbanner>
        </routers>
        <layout>
            <updates>
                <careersbanner>
                    <file>careersbanner.xml</file>
                </careersbanner>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<careersbanner>
				<use>admin</use>
				<args>
					<module>Custom_Careersbanner</module>
					<frontName>careersbanner</frontName>
				</args>
			</careersbanner>
        </routers>
    </admin>
    <adminhtml>
		<!--<menu>
			<careersbanner module="careersbanner">
				<title>Careersbanner</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="careersbanner">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>careersbanner/adminhtml_careersbanner</action>
					</items>
				</children>
			</careersbanner>
		</menu>-->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Custom_Careersbanner>
							<title>Careersbanner Module</title>
							<sort_order>10</sort_order>
						</Custom_Careersbanner>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<careersbanner>
					<file>careersbanner.xml</file>
				</careersbanner>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <careersbanner>
                <class>Custom_Careersbanner_Model</class>
                <resourceModel>careersbanner_mysql4</resourceModel>
            </careersbanner>
            <careersbanner_mysql4>
                <class>Custom_Careersbanner_Model_Mysql4</class>
                <entities>
                    <careersbanner>
                        <table>careersbanner</table>
                    </careersbanner>
                </entities>
            </careersbanner_mysql4>
        </models>
        <resources>
            <careersbanner_setup>
                <setup>
                    <module>Custom_Careersbanner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </careersbanner_setup>
            <careersbanner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </careersbanner_write>
            <careersbanner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </careersbanner_read>
        </resources>
        <blocks>
            <careersbanner>
                <class>Custom_Careersbanner_Block</class>
            </careersbanner>
        </blocks>
        <helpers>
            <careersbanner>
                <class>Custom_Careersbanner_Helper</class>
            </careersbanner>
        </helpers>
    </global>
</config>