<?xml version="1.0"?>
<config>
    <modules>
        <Robeka_Ordergrid>
            <version>0.1.0</version>
        </Robeka_Ordergrid>
    </modules>
    <frontend>
        <routers>
            <ordergrid>
                <use>standard</use>
                <args>
                    <module>Robeka_Ordergrid</module>
                    <frontName>ordergrid</frontName>
                </args>
            </ordergrid>
        </routers>
        <layout>
            <updates>
                <ordergrid>
                    <file>ordergrid.xml</file>
                </ordergrid>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ordergrid>
				<use>admin</use>
				<args>
					<module>Robeka_Ordergrid</module>
					<frontName>ordergrid</frontName>
				</args>
			</ordergrid>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<ordergrid module="ordergrid">
				<title>Ordergrid</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="ordergrid">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>ordergrid/adminhtml_ordergrid</action>
					</items>
				</children>
			</ordergrid>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Robeka_Ordergrid>
							<title>Ordergrid Module</title>
							<sort_order>10</sort_order>
						</Robeka_Ordergrid>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<ordergrid>
					<file>ordergrid.xml</file>
				</ordergrid>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <ordergrid>
                <class>Robeka_Ordergrid_Model</class>
                <resourceModel>ordergrid_mysql4</resourceModel>
            </ordergrid>
            <ordergrid_mysql4>
                <class>Robeka_Ordergrid_Model_Mysql4</class>
                <entities>
                    <ordergrid>
                        <table>ordergrid</table>
                    </ordergrid>
                </entities>
            </ordergrid_mysql4>
        </models>
        <resources>
            <ordergrid_setup>
                <setup>
                    <module>Robeka_Ordergrid</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordergrid_setup>
            <ordergrid_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ordergrid_write>
            <ordergrid_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ordergrid_read>
        </resources>
        <blocks>
            <ordergrid>
                <class>Robeka_Ordergrid_Block</class>
            </ordergrid>
        </blocks>
        <helpers>
            <ordergrid>
                <class>Robeka_Ordergrid_Helper</class>
            </ordergrid>
        </helpers>
    </global>
</config>