<?xml version="1.0"?>
<config>
    <modules>
        <Anowave_Price>
            <version>0.0.0.6</version>
        </Anowave_Price>
    </modules>
    <global>
    	<models>
		    <price>
		        <class>Anowave_Price_Model</class>
		        <resourceModel>price_resource</resourceModel>
		    </price>
		    <price_resource>
                <class>Anowave_Price_Model_Resource</class>
                <entities>
	                <price>
	                    <table>anowave_customerprice</table>
	                </price>
	                <price_category>
	                    <table>anowave_customerprice_category</table>
	                </price_category>
	                <price_global>
	                    <table>anowave_customerprice_global</table>
	                </price_global>
	            </entities>      
            </price_resource>
            <catalog>
            	<rewrite>	
            		<product_type_configurable_price>Anowave_Price_Model_Product_Type_Configurable_Price</product_type_configurable_price>
            	</rewrite>
            </catalog>
		</models>
		<blocks>
			<price>
                <class>Anowave_Price_Block</class>
            </price>
			<adminhtml>
				<rewrite>
					<sales_order_create_search_grid>Anowave_Price_Block_Sales_Order_Create_Search_Grid</sales_order_create_search_grid>
				</rewrite>
			</adminhtml>
			<catalog>
				<rewrite>
					<product_view_type_configurable>Anowave_Price_Block_Product_View_Type_Configurable</product_view_type_configurable>
				</rewrite>
			</catalog>
		</blocks>
		<helpers>
	        <price>
	            <class>Anowave_Price_Helper</class>
	        </price>
	    </helpers>
		<resources>
		    <anowave_price_setup>
		        <setup>
		            <module>Anowave_Price</module>
		        </setup>
		    </anowave_price_setup>
		    <anowave_price_write>
				<connection>
					<use>core_write</use>
				</connection>
			</anowave_price_write>
			<anowave_price_read>
				<connection>
					<use>core_read</use>
				</connection>
			</anowave_price_read>
		</resources>
		<events>
			<catalog_product_get_final_price>
				<observers>
					<price>
						<type>singleton</type>
						<class>Anowave_Price_Model_Observer</class>
						<method>getPrice</method>
					</price>
				</observers>
			</catalog_product_get_final_price>
			<catalog_product_type_configurable_price>
				<observers>
					<price>
						<type>singleton</type>
						<class>Anowave_Price_Model_Observer</class>
						<method>getConfigurableTypePrice</method>
					</price>
				</observers>
			</catalog_product_type_configurable_price>
			<catalog_product_view_config>
				<observers>
					<price>
						<type>singleton</type>
						<class>Anowave_Price_Model_Observer</class>
						<method>getAdditionalOptions</method>
					</price>
				</observers>
			</catalog_product_view_config>
			<catalog_product_get_final_price_admin>
				<observers>
					<price>
						<type>singleton</type>
						<class>Anowave_Price_Model_Observer</class>
						<method>getPriceAdmin</method>
					</price>
				</observers>
			</catalog_product_get_final_price_admin>
			<sales_quote_item_set_product>
				<observers>
					<price>
						<type>singleton</type>
						<class>Anowave_Price_Model_Observer</class>
						<method>getPriceAdmin</method>
					</price>
				</observers>
			</sales_quote_item_set_product>
			<adminhtml_customer_save_after>
		        <observers>
		            <price>
		                <type>singleton</type>                           
	                    <class>Anowave_Price_Model_Observer</class>
	                    <method>save</method>
		            </price>
		        </observers>
		    </adminhtml_customer_save_after>
			<core_block_abstract_to_html_after>
                <observers>
                    <price>
                        <class>Anowave_Price_Model_Observer</class>
                        <method>modify</method>
                    </price>
                </observers>
            </core_block_abstract_to_html_after>
            <admin_system_config_changed_section_price>
            	<observers>
                    <price>
                        <class>Anowave_Price_Model_Import</class>
                        <method>import</method>
                    </price>
                    <config>
                        <type>singleton</type>
                        <class>price/config</class>
                        <method>notify</method>
                    </config>
                </observers>
            </admin_system_config_changed_section_price>
            <customer_register_success>
				<observers>
					<price>
						<type>singleton</type>
						<class>price/observer_customer</class>
	                    <method>discount</method>
					</price>
				</observers>
			</customer_register_success>
		</events>
		<sales>
            <quote>
                <item>
                    <product_attributes>
                        <customer_discount />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote_item>
                <customer_discount>
                    <to_order_item>*</to_order_item>
                </customer_discount>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <customer_discount>
                    <to_quote_item>*</to_quote_item>
                </customer_discount>
            </sales_convert_order_item>
        </fieldsets>
    </global>
    <frontend>
    	<layout>
            <updates>
                <price module="price">
                    <file>price.xml</file>
                </price>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <anowave_price after="Mage_Adminhtml">Anowave_Price</anowave_price>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
	    <layout>
            <updates>
                <anowave_price module="Anowave_Price">
                    <file>price.xml</file>
                </anowave_price>
            </updates>
        </layout>
        <acl>
            <resources>
            	<all>
					<title>Allow Everything</title>
				</all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                		<price>
											<title>Customer price configuration</title>
										</price>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
        	<prepare_catalog_product_collection_prices>
                <observers>
                    <price>
                        <class>price/observer</class>
                        <method>productsCollectionPrices</method>
                    </price>
                </observers>
            </prepare_catalog_product_collection_prices>     
        </events>
    </adminhtml>
	<default>
		<price>
			<settings>
				<custom>1</custom>
				<status>1</status>
				<message>Price not avilable for Guests</message>
			</settings>
			<configurable>
				<use_variant_simple_price>0</use_variant_simple_price>
			</configurable>
			<import>
				<key>1</key>
			</import>
		</price>
	</default>
	<crontab>
        <jobs>
            <price>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>price/cron::update</model>
                </run>
            </price>
        </jobs>
    </crontab>
</config>