<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWPRibbon>
			<version>1.3.4</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>adminhtml/ewpribbon_config/index</configure_url>
            </extendware>
		</Extendware_EWPRibbon>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<extendware_ewpribbon after="Mage_Adminhtml">Extendware_EWPRibbon</extendware_ewpribbon>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWPRibbon>
					<files>
						<default>extendware/Extendware_EWPRibbon.csv</default>
					</files>
				</Extendware_EWPRibbon>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewpribbon>
					<file>extendware/ewpribbon.xml</file>
				</ewpribbon>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWPRibbon>
					<files>
						<default>extendware/Extendware_EWPRibbon.csv</default>
					</files>
				</Extendware_EWPRibbon>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewpribbon>
					<file>extendware/ewpribbon.xml</file>
				</ewpribbon>
			</updates>
		</layout>
		<routers>
			<ewpribbon>
				<use>standard</use>
				<args>
					<module>Extendware_EWPRibbon</module>
					<frontName>ewpribbon</frontName>
				</args>
			</ewpribbon>
        </routers>
    </frontend>
	<global>
		<models>
			<ewpribbon>
				<class>Extendware_EWPRibbon_Model</class>
				<resourceModel>ewpribbon_mysql4</resourceModel>
			</ewpribbon>
			<ewpribbon_mysql4>
                <class>Extendware_EWPRibbon_Model_Mysql4</class>
                <entities>
                	<image>
                        <table>ewpribbon_image</table>
                    </image>
                	<ribbon>
                        <table>ewpribbon_ribbon</table>
                    </ribbon>
                    <ribbon_store>
                        <table>ewpribbon_ribbon_store</table>
                    </ribbon_store>
                    <ribbon_product>
                        <table>ewpribbon_ribbon_product</table>
                    </ribbon_product>
                </entities>
            </ewpribbon_mysql4>
		</models>
		<blocks>
			<ewpribbon>
                <class>Extendware_EWPRibbon_Block</class>
            </ewpribbon>
		</blocks>
		<helpers>
			<ewpribbon>
				<class>Extendware_EWPRibbon_Helper</class>
			</ewpribbon>
		</helpers>
		<resources>
			<ewpribbon_setup>
				<setup>
					<module>Extendware_EWPRibbon</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewpribbon_setup>
			<ewpribbon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewpribbon_write>
            <ewpribbon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewpribbon_read>
		</resources>
		<events>
			<catalog_controller_product_view>
				<observers>
					<extendware_ewpribbon>
						<type>singleton</type>
	                    <class>ewpribbon/observer</class>
	                    <method>catalogControllerProductViewEvent</method>
					</extendware_ewpribbon>
				</observers>
			</catalog_controller_product_view>
			<catalog_block_product_list_collection>
                <observers>
                    <extendware_ewpribbon>
                        <class>ewpribbon/observer</class>
                        <method>catalogBlockProductListCollection</method>
                    </extendware_ewpribbon>
                </observers>
            </catalog_block_product_list_collection>
		</events>
		<template></template>
	</global>
	<input></input>
	<crontab></crontab>
	<default>
		<ewpribbon>
			<general>
				<enabled>0</enabled>
			</general>
		</ewpribbon>
		<ewpribbon_developer>
			<selector>
				<debugging>0</debugging>
				<category_product_block><![CDATA[div[class*="category-products"] [class*="item"]]]></category_product_block>
				<category_product_image><![CDATA[[class*="product-image"] img]]></category_product_image>
				<product_image><![CDATA[div.product-view p.product-image-zoom]]></product_image>
				<fallback_position><![CDATA[a:2:{s:18:"_1372450036895_895";a:1:{s:8:"selector";s:31:"div[class~="category-products"]";}s:18:"_1372450039428_428";a:1:{s:8:"selector";s:18:"div[class~="main"]";}}]]]></fallback_position>
			</selector>
		</ewpribbon_developer>
	</default>
	<extendware>
		<override>
			<model>
				<mage_core_layout_update_ewcore_override>
           			<mode>extendware</mode>
           			<search><class>Mage_Core_Model_Layout_Update</class></search>
           			<replace>
           				<class>Extendware_EWCore_Model_Override_Mage_Core_Layout_Update</class>
            			<order>0</order>
           			</replace>
           			<conditions>
           				<extension_exists>
	           				<ignore>1</ignore>
           				</extension_exists>
           			</conditions>
           		</mage_core_layout_update_ewcore_override>
           	</model>
           	<block>
				<mage_page_head_ewcore_override>
           			<mode>extendware</mode>
					<search><class>Mage_Page_Block_Html_Head</class></search>
					<replace>
						<class>Extendware_EWCore_Block_Override_Mage_Page_Html_Head</class>
						<order>0</order>
					</replace>
					<conditions>
           				<extension_exists>
	           				<ignore>1</ignore>
           				</extension_exists>
           			</conditions>
				</mage_page_head_ewcore_override>
			</block>
		</override>
	</extendware>
</config>
