<?xml version="1.0"?>
<config>
    <modules>
        <Custom_Careers>
            <version>0.1.0</version>
        </Custom_Careers>
    </modules>
    <frontend>
        <routers>
            <careers>
                <use>standard</use>
                <args>
                    <module>Custom_Careers</module>
                    <frontName>careers</frontName>
                </args>
            </careers>
        </routers>
        <layout>
            <updates>
                <careers>
                    <file>careers.xml</file>
                </careers>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<careers>
				<use>admin</use>
				<args>
					<module>Custom_Careers</module>
					<frontName>careers</frontName>
				</args>
			</careers>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<careers module="careers">
				<title>Careers</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="careers">
						<title>Manage Job Items</title>
						<sort_order>0</sort_order>
						<action>careers/adminhtml_careers</action>
					</items>
                    <careersbanner module="careersbanner">
						<title>Careers Banner</title>
						<sort_order>2</sort_order>
						<action>careersbanner/adminhtml_careersbanner</action>
					</careersbanner>
				</children>
			</careers>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Custom_Careers>
							<title>Careers Module</title>
							<sort_order>10</sort_order>
						</Custom_Careers>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<careers>
					<file>careers.xml</file>
				</careers>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <careers>
                <class>Custom_Careers_Model</class>
                <resourceModel>careers_mysql4</resourceModel>
            </careers>
            <careers_mysql4>
                <class>Custom_Careers_Model_Mysql4</class>
                <entities>
                    <careers>
                        <table>careers</table>
                    </careers>
                </entities>
            </careers_mysql4>
        </models>
        <resources>
            <careers_setup>
                <setup>
                    <module>Custom_Careers</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </careers_setup>
            <careers_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </careers_write>
            <careers_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </careers_read>
        </resources>
        <blocks>
            <careers>
                <class>Custom_Careers_Block</class>
            </careers>
        </blocks>
        <helpers>
            <careers>
                <class>Custom_Careers_Helper</class>
            </careers>
        </helpers>
    </global>
</config>