<?xml version="1.0"?>
<config>
    <modules>
        <Custom_Orderplaceafter>
            <version>0.1.4</version>
        </Custom_Orderplaceafter>
    </modules>  
    <global>
        <models>
            <orderplaceafter>
                <class>Custom_Orderplaceafter_Model</class>
                <resourceModel>orderplaceafter_mysql4</resourceModel>
            </orderplaceafter>
            <orderplaceafter_mysql4>
                <class>Custom_Orderplaceafter_Model_Mysql4</class>
                <entities>
                    <orderplaceafter>
                        <table>orderplaceafter</table>
                    </orderplaceafter>
                </entities>
            </orderplaceafter_mysql4>
        </models>	
	<events>
	    <sales_order_place_after>
		<observers>
		    <lindemann_orderplaceafter_order_observer>
			<type>singleton</type>
			<class>Custom_Orderplaceafter_Model_Order_Observer</class>
			<method>customFieldsAddToOrder</method>
		    </lindemann_orderplaceafter_order_observer>
		</observers>
	    </sales_order_place_after>
	</events>
        <resources>
            <orderplaceafter_setup>
                <setup>
                    <module>Custom_Orderplaceafter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderplaceafter_setup>
        </resources>
    </global>
</config>