<?xml version="1.0"?>
<config>
	<modules>
		<Dapl_Customerattribute>
			<version>0.0.0</version>
		</Dapl_Customerattribute>
	</modules>
	<global>
		<helpers>
			<modulename>
				<class>Dapl_Customerattribute_Helper</class>
			</modulename>
		</helpers>
		<models>
			<modulename>
				<class>Dapl_Customerattribute_Model</class>
				<resourceModel>modulename_mysql4</resourceModel>
			</modulename>
		</models>
		<resources>
			<customerattribute_setup>
				<setup>
					<module>Dapl_Customerattribute</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</customerattribute_setup>
			<customerattribute_write>
				<connection>
					<use>core_write</use>
				</connection>
			</customerattribute_write>
			<customerattribute_read>
				<connection>
					<use>core_read</use>
				</connection>
			</customerattribute_read>
		</resources>
	</global>
</config> 