<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Sm_DynamicSlideshow>
            <version>2.0.0</version>
        </Sm_DynamicSlideshow>
    </modules>
    <global>
        <models>
            <dynamicslideshow>
                <class>Sm_DynamicSlideshow_Model</class>
                <resourceModel>dynamicslideshow_mysql4</resourceModel>
            </dynamicslideshow>
            <dynamicslideshow_mysql4>
                <class>Sm_DynamicSlideshow_Model_Mysql4</class>
                <entities>
                    <sliders>
                        <table>sm_dynamic_sliders</table>
                    </sliders>
                    <slides>
                        <table>sm_dynamic_slides</table>
                    </slides>
					 <animation>
                        <table>sm_dynamic_animation</table>
                    </animation>
                    <css>
                        <table>sm_dynamic_css</table>
                    </css>
                </entities>
            </dynamicslideshow_mysql4>
        </models>
        <resources>
            <dynamicslideshow_setup>
                <setup>
                    <module>Sm_DynamicSlideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dynamicslideshow_setup>
            <dynamicslideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dynamicslideshow_write>
            <dynamicslideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dynamicslideshow_read>
        </resources>
        <blocks>
            <dynamicslideshow>
                <class>Sm_DynamicSlideshow_Block</class>
            </dynamicslideshow>
            <adminhtml>
                <rewrite>
                    <cms_wysiwyg_images_content>Sm_DynamicSlideshow_Block_Adminhtml_Cms_Wysiwyg_Images_Content</cms_wysiwyg_images_content>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <dynamicslideshow>
                <class>Sm_DynamicSlideshow_Helper</class>
            </dynamicslideshow>
            <cms>
                <rewrite>
                    <wysiwyg_images>Sm_DynamicSlideshow_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
        </helpers>
    </global>
    <frontend>
        <routers>
            <dynamicslideshow>
                <use>standard</use>
                <args>
                    <module>Sm_DynamicSlideshow</module>
                    <frontName>dynamicslideshow</frontName>
                </args>
            </dynamicslideshow>
        </routers>
        <layout>
            <updates>
                <dynamicslideshow>
                    <file>sm/dynamicslideshow.xml</file>
                </dynamicslideshow>
            </updates>
        </layout>
        <translate>
            <modules>
                <Sm_DynamicSlideshow>
                    <files>
                        <default>Sm_DynamicSlideshow.csv</default>
                    </files>
                </Sm_DynamicSlideshow>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <dynamicslideshow>
                <use>admin</use>
                <args>
                    <module>Sm_DynamicSlideshow</module>
                    <frontName>dynamicslideshow</frontName>
                </args>
            </dynamicslideshow>
            <adminhtml>
                <args>
                    <modules>
                        <Sm_DynamicSlideshow before="Mage_Adminhtml">Sm_DynamicSlideshow_Adminhtml</Sm_DynamicSlideshow>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <dynamicslideshow>
                    <file>sm/dynamicslideshow.xml</file>
                </dynamicslideshow>
            </updates>
        </layout>
    </adminhtml>
</config>