<?xml version="1.0"?>
<config>
    <modules>
        <Webskitters_Mobilebanner>
            <version>0.1.0</version>
        </Webskitters_Mobilebanner>
    </modules>
    <frontend>
        <routers>
            <mobilebanner>
                <use>standard</use>
                <args>
                    <module>Webskitters_Mobilebanner</module>
                    <frontName>mobilebanner</frontName>
                </args>
            </mobilebanner>
        </routers>
        <layout>
            <updates>
                <mobilebanner>
                    <file>mobilebanner.xml</file>
                </mobilebanner>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mobilebanner>
				<use>admin</use>
				<args>
					<module>Webskitters_Mobilebanner</module>
					<frontName>mobilebanner</frontName>
				</args>
			</mobilebanner>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<mobilebanner module="mobilebanner">
				<title>Mobilebanner</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="mobilebanner">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>mobilebanner/adminhtml_mobilebanner</action>
					</items>
				</children>
			</mobilebanner>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Webskitters_Mobilebanner>
							<title>Mobilebanner Module</title>
							<sort_order>10</sort_order>
						</Webskitters_Mobilebanner>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<mobilebanner>
					<file>mobilebanner.xml</file>
				</mobilebanner>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <mobilebanner>
                <class>Webskitters_Mobilebanner_Model</class>
                <resourceModel>mobilebanner_mysql4</resourceModel>
            </mobilebanner>
            <mobilebanner_mysql4>
                <class>Webskitters_Mobilebanner_Model_Mysql4</class>
                <entities>
                    <mobilebanner>
                        <table>mobilebanner</table>
                    </mobilebanner>
                </entities>
            </mobilebanner_mysql4>
        </models>
        <resources>
            <mobilebanner_setup>
                <setup>
                    <module>Webskitters_Mobilebanner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mobilebanner_setup>
            <mobilebanner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mobilebanner_write>
            <mobilebanner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mobilebanner_read>
        </resources>
        <blocks>
            <mobilebanner>
                <class>Webskitters_Mobilebanner_Block</class>
            </mobilebanner>
        </blocks>
        <helpers>
            <mobilebanner>
                <class>Webskitters_Mobilebanner_Helper</class>
            </mobilebanner>
        </helpers>
    </global>
</config>