<?xml version="1.0"?>
<config>
    <modules>
        <Anowave_Package>
            <version>0.0.0.1</version>
        </Anowave_Package>
    </modules>
    <global>
    	<models>
    		<package>
    			<class>Anowave_Package_Model</class>
    		</package>
    	</models>
    	<blocks>
			<package>
                <class>Anowave_Package_Block</class>
            </package>
		</blocks>
        <helpers>
            <package>
                <class>Anowave_Package_Helper</class>
            </package>
        </helpers>
        <events>
        	<admin_system_config_changed_section_package>
            	<observers>
                    <package>
                        <type>singleton</type>
                        <class>package/get</class>
                        <method>get</method>
                    </package>
                </observers>
            </admin_system_config_changed_section_package>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
            	<all>
					<title>Allow Everything</title>
				</all>
				<admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                		<package>
											<title>Package</title>
										</package>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
