<?xml version="1.0"?>
<config>
    <modules>
        <Bassi_Imageslider>
            <version>1.0.3</version>
        </Bassi_Imageslider>
    </modules>
    <global>
        <helpers>
            <imageslider>
                <class>Bassi_Imageslider_Helper</class>
            </imageslider>
        </helpers>		
		<models>
            <imageslider>
                <class>Bassi_Imageslider_Model</class>
                <resourceModel>imageslider_mysql4</resourceModel>
            </imageslider>
            <imageslider_mysql4>
                <class>Bassi_Imageslider_Model_Mysql4</class>
                <entities>
                    <imageslider>
                        <table>bassiimageslider</table>
                    </imageslider>
                </entities>
            </imageslider_mysql4>
        </models>		
		
		<blocks>
			<imageslider>
				<class>Bassi_Imageslider_Block</class>
			</imageslider>
		</blocks>
        <resources>
            <imageslider_setup>
                <setup>
                    <module>Bassi_Imageslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </imageslider_setup>
            <imageslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </imageslider_write>
            <imageslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imageslider_read>
        </resources>
    </global>
	<default>
        <imageslider>
            <general>
                <enabled>1</enabled>
				<style>random</style>
				<thumbnails>thumbnail</thumbnails>
				<slidingtime>2</slidingtime>
				<slidingeffecttime>1</slidingeffecttime>
				<loader>pie</loader>
				<navigation>1</navigation>
				<imagewidth>684</imagewidth>
				<imageheight>342</imageheight>
				<description>1</description>				
            </general>			
        </imageslider>
		
    </default>
    <frontend>		
		<routers>
            <imageslider>
                <use>standard</use>
                <args>
                    <module>Bassi_Imageslider</module>
                    <frontName>imageslider</frontName>
                </args>
            </imageslider>
        </routers>	
        <layout>
            <updates>
                <imageslider>
                    <file>imageslider.xml</file>
                </imageslider>
            </updates>
        </layout>
    </frontend>    
	
	<admin>
		<routers>
			<imageslider>
				<use>admin</use>
				<args>
					<module>Bassi_Imageslider</module>
					<frontName>imageslider</frontName>
				</args>
			</imageslider>
		</routers>
	</admin>
	
	<adminhtml>		
		<layout>
			<updates>
				<imageslider>
					<file>imageslider.xml</file>
				</imageslider>
			</updates>
		</layout>
    </adminhtml>
	
</config>