<?xml version="1.0" encoding="UTF-8"?>
<!--
author:Mohit Kochhar Velocity Software Solution Pvt. Ltd.
-->

<config>
    <modules>
        <version>1.0</version>
    </modules>
    <frontend>
        <routers>
            <supercheckout2123>
                <use>standard</use>
                <args>
                    <module>Velocity_Supercheckout</module>
                    <frontName>supercheckout</frontName>
                </args>
            </supercheckout2123>
        </routers>
        <layout>
            <updates>
                <supercheckoutfront>
                    <file>supercheckoutfront.xml</file>
                </supercheckoutfront>
            </updates>
        </layout>
        <events>
		<checkout_type_onepage_save_order>
            	<observers>
            		<checkout_type_onepage_save_order>
                        <class>supercheckout/observer</class>
                        <method>applyComment</method>            			
            		</checkout_type_onepage_save_order>
            	</observers>
            </checkout_type_onepage_save_order>
            <checkout_submit_all_after>
                <observers>
                    <onepagecheckout>
                        <type>model</type>
                        <class>supercheckout/observer</class>
                        <method>removeHistoryComment</method>
                        <method>emptyCart</method>
                    </onepagecheckout>
                </observers>
            </checkout_submit_all_after>
            <checkout_cart_product_add_after>
                <observers>
                    <velocity_shoppingcartpopup_model_observer>
                        <type>singleton</type>
                        <class>Velocity_Supercheckout_Model_Observer_Cart</class>
                        <method>setShoppingCartSession</method>
                    </velocity_shoppingcartpopup_model_observer>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_update_item_complete>
                <observers>
                    <velocity_shoppingcartpopup_model_observer>
                        <type>singleton</type>
                        <class>Velocity_Supercheckout_Model_Observer_Cart</class>
                        <method>setShoppingCartSession</method>
                    </velocity_shoppingcartpopup_model_observer>
                </observers>
            </checkout_cart_update_item_complete>
        </events>
        <translate>
            <modules>
                <vss_shoppingcartpopup>
                    <files>
                        <default>Velocity_Supercheckout.csv</default>
                    </files>
                </vss_shoppingcartpopup>
            </modules>
        </translate>
    </frontend>
    <global>
        <models>
            <supercheckout>
                <class>Velocity_Supercheckout_Model</class>
                <resourceModel>supercheckout_mysql4</resourceModel>
            </supercheckout>
            <supercheckout_mysql4>
                <class>Velocity_Supercheckout_Model_Mysql4</class>
                <entities>
                    <supercheckout>
                        <table>supercheckout</table>
                    </supercheckout>
                </entities>
            </supercheckout_mysql4>
        </models>
        <blocks>
            <checkout>
                <rewrite>
                    <links>Velocity_Supercheckout_Block_Links</links>
                </rewrite>
            </checkout>
            <supercheckout>
                <class>Velocity_Supercheckout_Block</class>
            </supercheckout>
            
        </blocks>
        <helpers>            
            <supercheckout>
                <class>Velocity_Supercheckout_Helper</class>
            </supercheckout>
            <checkout>
                <rewrite>
                    <url>Velocity_Supercheckout_Helper_Url</url>
                </rewrite>
            </checkout>
        </helpers>
    </global>
    <admin>
        <routers>
            <supercheckout>
                <use>admin</use>
                <args>
                    <module>Velocity_Supercheckout</module>
                    <frontName>supercheckout</frontName>
                </args>
            </supercheckout>
        </routers>
    </admin>
    
    <adminhtml>
             
        <menu>
            <system>
                <children>
                    <supercheckout_adminform translate="title" module="supercheckout">
                        <title>Supercheckout</title>
                        <action>supercheckout/adminhtml_supercheckout</action>
                    </supercheckout_adminform>
                </children>
            </system>
        </menu>
        <layout>
            <updates>
                <supercheckout>
                    <file>supercheckout.xml</file>
                </supercheckout>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Velocity_Supercheckout_adminhtml.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </adminhtml>
    
</config>