<?xml version="1.0"?>
<config>
    <modules>
        <Potato_PrintAnyOrder>
            <version>1.1.2</version>
        </Potato_PrintAnyOrder>
    </modules>
    <global>
        <blocks>
            <po_pao>
                <class>Potato_PrintAnyOrder_Block</class>
            </po_pao>
        </blocks>
        <helpers>
            <po_pao>
                <class>Potato_PrintAnyOrder_Helper</class>
            </po_pao>
        </helpers>
        <models>
            <po_pao>
                <class>Potato_PrintAnyOrder_Model</class>
            </po_pao>
        </models>
        <pdf>
            <order>
                <default>po_pao/sales_pdf_order_items_default</default>
                <bundle>po_pao/sales_pdf_order_items_bundle</bundle>
                <downloadable>po_pao/sales_pdf_order_items_downloadable</downloadable>
                <grouped>po_pao/sales_pdf_order_items_grouped</grouped>
            </order>
        </pdf>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <potato_printanyorder before="Mage_Adminhtml">Potato_PrintAnyOrder_Adminhtml</potato_printanyorder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <po_pao_adminhtml_widget_container_html_before>
                        <class>po_pao/observer</class>
                        <type>singleton</type>
                        <method>addPrintButton</method>
                    </po_pao_adminhtml_widget_container_html_before>
                </observers>
            </adminhtml_widget_container_html_before>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <po_pao_core_block_abstract_prepare_layout_before>
                        <class>po_pao/observer</class>
                        <method>addPrintMassAction</method>
                    </po_pao_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
        <translate>
            <modules>
                <Potato_PrintAnyOrder>
                    <files>
                        <default>Potato_PrintAnyOrder.csv</default>
                    </files>
                </Potato_PrintAnyOrder>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <po_pao>
            <general>
                <text_align>1</text_align>
                <regular_font>0</regular_font>
                <bold_font>0</bold_font>
                <italic_font>0</italic_font>
            </general>
        </po_pao>
    </default>
</config>